<%- include('header') -%>

<div class = "container-fluid">
        <div style = "position: absolute;top: 50%; left: 10%; width: 80%; bottom: 100%; text-align: center; font-size: 18px; background: #6994dd;"> 
        <% if (checkCustomer === 2) { %>
            <form id="form-checkCustomer" class="row g-3" action="/customer/check" method="POST" style="border-style: double;" >  
                <h4>Nhập thông tin khách hàng</h4>
                <div class="col-md-6" id="inputCustomerName">
                    <label for="name" class="form-label" style = "color: black; font-weight: bold;">Tên khách hàng</label>
                    <input type="text" class="form-control" id="customerName" name="customerName" required oninput="validateForm()">  
                    <p id="nameError" style="color: red; display: none;">* Tên không hợp lệ</p>                              
                </div>
                
                <div class="col-md-6" id="inputCustomerPhone">
                    <label for="customerPhone" class="form-label" style = "color: black; font-weight: bold;">Số điện thoại</label>
                    <input type="tel" class="form-control" id="customerPhone" name="customerPhone" oninput="validateForm()">
                    <p id =  "phoneError" style="color: red; display: none;">* Số điện thoại không hợp lệ</p>
                </div>
                <% if (msg === 3) { %>
                    <script>
                        alert('Khách hàng đang nợ hơn mức quy định!');
                        window.location.href='/bill';
                    </script>
                <% } %>
                
                <div class="col-12" style = "margin-bottom: 10px;">
                    <button class="btn btn-dark" type="submit" id="submitBtn">Kiểm tra</button>
                    <span>&nbsp;</span>
                </div>
                
            </form>
        <% } else {%>
        </div>
        <% if (checkCustomer === 1) { %>
            <div class="row g-6">
                <div class="col-md-6" id="inputCustomerName">
                    <label for="name" class="form-label" style = "color: black; font-weight: bold;">Tên khách hàng</label>
                    <input type="text" class="form-control" id="customerName" name="customerName" value="<%= customer.TenKH %>" disabled>
                </div>
                <div class="col-md-6" id="inputCustomerPhone">
                    <label for="customerPhone" class="form-label" style = "color: black; font-weight: bold;">Số điện thoại
                    </label>
                    <input type="tel" class="form-control" id="customerPhone" name="customerPhone" value="<%= customer.SDT %>" disabled>
                </div>
                <div class="col-md-6" id="inputCustomerEmail">
                    <label for="customerEmail" class="form-label" style = "color: black; font-weight: bold;">Email
                    </label>
                    <input type="email" class="form-control" id="customerEmail" name="customerEmail" value="<%= customer.Email %>" disabled>
                </div>
                <div class="col-md-6" id="inputCustomerAddress">
                    <label for="customerAddress" class="form-label" style = "color: black; font-weight: bold;">Địa chỉ
                    </label>
                    <input type="text" class="form-control" id="customerAddress" name="customerAddress" value="<%= customer.DiaChi %>" disabled>
                </div>
                <div class="col-md-6" id="inputCustomerDebt">
                    <label for="customerDebt" class="form-label" style = "color: black; font-weight: bold;">Nợ
                    </label>
                    <input type="text" class="form-control" id="customerDebt" name="customerDebt" value="<%= customer.No %>" disabled>
                </div>
            </div>
            <% } %>  
        
            <% if (checkCustomer === 0) { %>
                <div class="row g-6">
                    <div class="col-md-6" id="inputCustomerName">
                        <label for="name" class="form-label" style = "color: black; font-weight: bold;">Tên khách hàng</label>
                        <input type="text" class="form-control" id="customerName" name="customerName" value="<%= customer.name %>" disabled>
                    </div>
                    <div class="col-md-6" id="inputCustomerPhone">
                        <label for="customerPhone" class="form-label" style = "color: black; font-weight: bold;">Số điện thoại
                        </label>
                        <input type="tel" class="form-control" id="customerPhone" name="customerPhone" value="<%= customer.phone %>" disabled>
                    </div>
                    <div class="col-md-6" id="inputCustomerEmail">
                        <label for="customerEmail" class="form-label" style = "color: black; font-weight: bold;">Email
                        </label>
                        <input type="email" class="form-control" id="customerEmail" name="customerEmail">
                    </div>
                    <div class="col-md-6" id="inputCustomerAddress">
                        <label for="customerAddress" class="form-label" style = "color: black; font-weight: bold;">Địa chỉ
                        </label>
                        <input type="text" class="form-control" id="customerAddress" name="customerAddress">
                    </div>
                </div>
            <% } %>
            
            <div class="card card-import">
                <div class="card-header text-bg-primary">
                  Danh sách SÁCH mua
                </div>
                <div class="card-body">
                    <table class="table table-import">
                        <thead class="table-dark">
                          <tr>
                            <th scope="col">Tên sách</th>
                            <th scope="col">Tác giả</th>
                            <th scope="col">Thể loại</th>
                            <th scope="col">Lượng tồn</th>
                            <th scope="col">Đơn giá</th>
                            <th scope="col">Chọn</th>
                            <th scope="col">Số lượng</th>
                          </tr>
                        </thead>
                        <tbody id="bookTableBody">
                            <% allBooks.forEach(book => { %>
                                <tr id="<%= book.MaSach %>">
                                    <td class="bookname"><%= book.TenSach %></td>
                                    <td class="author"><%= book.TacGia %></td>
                                    <td class="type"><%= book.TheLoai %></td>
                                    <td class="count"><%= book.SoLuong %></td>
                                    <td class="price"><%= book.Gia %></td>
                                    <td class="check">
                                        <input type="checkbox" id="check<%= book.MaSach %>"/>
                                    </td>
                                    <td class="SL">
                                        <input type="number" id="num<%= book.MaSach %>" 
                                            id="num<%= book.MaSach %>" min="0" max="<%= book.SoLuong %>" step="1"
                                            value="0" />
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
        
                    <p id="error-table" style="color: red;"></p>
                    <br>
                    <div id="phieuHD-footer">
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p>Tổng: <span id="totalAmount"></span> VND</p>
                            <div>
                                <button class="btn btn-outline-primary" onclick="payBill()">Thanh toán</button>
                                <button class="btn btn-outline-primary" onclick="debtBill()">Ghi nợ</button>
                                <button class="btn btn-outline-primary" onclick="cancel()">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        
</div>

<script>

    // document.addEventListener("DOMContentLoaded", function () {
        

        // form.addEventListener("submit", function (event) {
        //     event.preventDefault();

        //     // check condition before submit
        //     if (validateForm()) {
        //         form.submit();
        //     } 
        // });

        function check() {
            var form = document.getElementById("form-checkCustomer");
            console.log(form);
            if (validateForm()) {
                form.submit();
            } 
        }

        function validateForm() {
            var customerName = document.getElementById("customerName").value;
            var customerPhone = document.getElementById("customerPhone").value;

            // check input conditions
            var nameError = document.getElementById("nameError");
            var phoneError = document.getElementById("phoneError");
            var submitBtn = document.getElementById('submitBtn');

            // reset error messages
            nameError.style.display = "none";
            phoneError.style.display = "none";
            submitBtn.disabled = "false";
            var check = true;

            // check customer name
            var nameRegex = /^[a-zA-Z\sÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂẤẮẦẰẾỀỂỄỒỐỖỔỜỚỠỞỨỮỬĐđàáâãèéêìíòóôõùúăấắầằếềểễồốỗổờớỡởứữử\s]+$/;
            if (!nameRegex.test(customerName)) {
                nameError.style.display = "block";
                submitBtn.disabled = "true";
                // return false;
                check = fasle;
            }

            // check phone number
            var phoneRegex = /^(?:\+84|0)(?:\d{9}|\d{10})$/;
            if (!phoneRegex.test(customerPhone)) {
                phoneError.style.display = "block";
                submitBtn.disabled = "true";
                check = false;
            }

            // return true;
        }
    // });    


    

    let totalAmount = 0;

    function getCurrentDate() {
        let currentDate = new Date();

        let year = currentDate.getFullYear();
        let month = currentDate.getMonth() + 1; 
        let day = currentDate.getDate();

        let formattedDate = year + '/' + addLeadingZero(month) + '/' + addLeadingZero(day);

        return formattedDate;
    }

    // Hàm để thêm số 0 phía trước nếu giá trị là một chữ số
    function addLeadingZero(number) {
        return number < 10 ? '0' + number : number;
    }

    function payBill() {

        let checkCustomer = <%- checkCustomer %>;
        let customer = null;

        if (checkCustomer === 0) {
            // Get input values
            let customerName = document.getElementById('customerName').value;
            let customerPhone = document.getElementById('customerPhone').value;
            let customerEmail = document.getElementById('customerEmail').value;
            let customerAddress = document.getElementById('customerAddress').value;
            customer = {
                customerID: 0,
                customerName: customerName,
                customerPhone: customerPhone,
                customerEmail: customerEmail,
                customerAddress: customerAddress
            };
        } 
        if (checkCustomer === 1) {
            let customerID = "<%- customer.MaKH %>";
            customer = {
                customerID: parseInt(customerID)
            }
        }

        let selectedBooks = [];
        let tableBody = document.getElementById("bookTableBody");
        let rows = tableBody.getElementsByTagName("tr");

        let data = {
            total: totalAmount,
            books: selectedBooks,
            date: getCurrentDate(),
            customer: customer
        }

        for (let i = 0; i < rows.length; i++) {
            let checkbox = rows[i].querySelector("input[type='checkbox']");
            let quantityInput = rows[i].querySelector("input[type='number']");

            if (checkbox.checked && quantityInput.value > 0) {
                let bookId = rows[i].id;
                let quantity = quantityInput.value;

                selectedBooks.push({
                    bookId: parseInt(bookId),
                    quantity: parseInt(quantity),
                });
            }
        }
        fetch('/bill/pay', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json, text/plain, */*',
            },
            body: JSON.stringify({"data": data})
        }).then(response => response.json())
        .then(data => {
            console.log('Server response:', data);
            if (data.msg === 1) {
                alert('Thanh toán thành công!');
                window.location.href='/bill';
            } else {
                alert('Thanh toán không thành công do vi phạm quy định!');
                window.location.href='/bill';
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function debtBill() {
        let checkCustomer = <%- checkCustomer %>;
        let customer = null;

        if (checkCustomer === 0) {
            // Get input values
            let customerName = document.getElementById('customerName').value;
            let customerPhone = document.getElementById('customerPhone').value;
            let customerEmail = document.getElementById('customerEmail').value;
            let customerAddress = document.getElementById('customerAddress').value;
            customer = {
                customerID: 0,
                customerName: customerName,
                customerPhone: customerPhone,
                customerEmail: customerEmail,
                customerAddress: customerAddress
            };
        } 
        if (checkCustomer === 1) {
            let customerID = "<%- customer.MaKH %>";
            customer = {
                customerID: parseInt(customerID)
            }
        }

        let selectedBooks = [];
        let tableBody = document.getElementById("bookTableBody");
        let rows = tableBody.getElementsByTagName("tr");

        let data = {
            total: totalAmount,
            books: selectedBooks,
            date: getCurrentDate(),
            customer: customer
        }

        for (let i = 0; i < rows.length; i++) {
            let checkbox = rows[i].querySelector("input[type='checkbox']");
            let quantityInput = rows[i].querySelector("input[type='number']");

            if (checkbox.checked && quantityInput.value > 0) {
                let bookId = rows[i].id;
                let quantity = quantityInput.value;

                selectedBooks.push({
                    bookId: parseInt(bookId),
                    quantity: parseInt(quantity),
                });
            }
        }
        fetch('/bill/debt', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json, text/plain, */*',
            },
            body: JSON.stringify({"data": data})
        }).then(response => response.json())
        .then(data => {
            console.log('Server response:', data);
            if (data.msg === 1) {
                alert('Ghi nợ thành công!');
                window.location.href='/bill';
            } else {
                alert('Ghi nợ không thành công do vi phạm quy định!');
                window.location.href='/bill';
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function cancel() {
        window.location.href = "/bill";
    }


    $(document).ready(function() {
      // Function to calculate the total amount
      function calculateTotal() {
        totalAmount = 0;
        
        // Iterate through each checked checkbox
        $('input[type="checkbox"]:checked').each(function() {
          const bookRow = $(this).closest('tr');
          const price = parseFloat(bookRow.find('.price').text());
          const quantity = parseInt(bookRow.find('.SL input').val());
          const subtotal = price * quantity;
  
          totalAmount += subtotal;
        });
  
        // Display the total amount
        $('#totalAmount').text(totalAmount);
      }
  
      // Event handler for checkbox and input changes
      $('input[type="checkbox"], .SL input').on('change', function() {
        calculateTotal();
      });
    });
</script>
  

<%- include('footer') -%>